.sound-img {
    display: none;
    cursor: pointer;
    margin: -15px 20px;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container {
    margin: 30px 30px;
    background-color: pink;
}

.settings {
    cursor: pointer;
    margin: 20px 20px;
}

.play-button {
    cursor: pointer;
    width: 100px;
    margin: 50px 50px;
    margin-top: 10px;
    margin-bottom: 120px;
}

.title {
    text-align: center;
    margin: 20px 100px;
    font-size: 30px;
}

.back-home {
    display: flex;
    align-items: center;
}

.home-button {
    cursor: pointer;
    width: 20px;
    margin: 20px 20px;
}

.sofonisba-pic {
    width: 300px;
}

.lebrun-pic {
    width: 300px;
}

.cassatt-pic {
    width: 300px;
}

.paintings {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.paintings .locked {
    position: relative;
    width: 300px; 
    object-fit: cover;
    filter: none;
}

.paintings .locked-link {
    position: relative;
    display: block;
    text-decoration: none;
}

.paintings .locked img {
    width: 100%;
    filter: none;
}

.paintings .locked-link .hover-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 8px;
    text-align: center;
    display: none;
    z-index: 10;
    white-space: nowrap;
}

.paintings .locked-link:hover .hover-message {
    display: block;
}

.paintings .locked-link:hover img {
    filter: grayscale(100%);
    border: 2px solid black;
}

.puzzle {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
}

.sofonisba-level {
    width: 1000px;
}

.tutorial {
    text-align: center;
    margin-bottom: 60px;
}

p {
    text-align: center;
    font-size: 16px;
}

#game-over {
    text-align: center;
    margin-top: 20px;
    display: none;
}

#try-again-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#try-again-button:hover {
    background-color: gray;
}

.completion-message {
    text-align: center;
    font-size: 16px;
    color: black;
    margin: 20px 0;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 8px;
    display: none;
}

#return-to-gallery {
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
}